<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SilentVoice_Suite" verbose="1">
    <test name="Silent Voice API Tests">
        <classes>
            <class name="tests.AuthTest"/>
            <class name="tests.SignTest"/>
            <class name="tests.VoiceTest"/>
        </classes>
    </test>
</suite>